.upload-song {
  /* display: flex; */
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
}

.music-grid {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-around;
}