.upload-song {
  /* display: flex; */
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
}

.music-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.grid-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}