.mb-2 {
    display: flex;
    /* width: 20rem; */
    align-items: center;
    justify-content: center;
    margin-top: 16rem;
}

.btn-home {
    background-color: rgb(26, 121, 150) !important;
}